@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kablammo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

:root{
    --primaryColor: #556B2F;
    --secondaryColor: #C5D89D;
    --dangerColor: #DE802B;
    --neutroColor1: #061E29;
    --neutroColor2: #F5F2F2;
    --snakeColor: linear-gradient(#556B2F,#8FA31E);
}

body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--neutroColor2);
}

canvas{
    margin-top: 10px;
    border: 4px solid var(--primaryColor);
    background-color: var(--secondaryColor);
}

.menuScore {
    width: 638px;
    display: flex;
    align-items: center;
    position: relative;
}

.score {
    margin-right: auto;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

dialog {
    color: var(--dangerColor);
    background-color: var(--neutroColor1);
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    inset: 0;
    margin: auto auto;
    padding: 30px;
    border-radius: 20px;
    border: 5px double var(--neutroColor2);
    text-align: center;
    box-shadow: 5px 5px var(--neutroColor2);
    line-height: 2;
}

.btnReset{
    background-color: var(--primaryColor);
    color: var(--neutroColor2);
    padding: 8px;
    margin-top: 15px;
    width: 150px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    border-color: var(--neutroColor2);
    &:hover {
        transform: translateY(-0.25em);
        box-shadow: 0 0 0.5em 0em var(--primaryColor);
        border-color: var(--primaryColor);
        color: var(--neutroColor2);
    }
}

.btnReset:hover{
    background-color: #475a27;
}


@media(max-width: 647px) {
    canvas{
        width: 300px;
    }
     .menuScore{
    width: 290px;
    }
    .title{
        font-size: 1.2em;
    }
    .score{
        font-size: 0.8em;
    }
    dialog{
        padding: 20px;
        border-radius: 5px;
    }
    dialog h3{
        font-size: 0.9em;
    }
    .gameResult{
        font-size: 0.7em;
    }
    .btnReset{
        padding: 5px;
        width: 100px;
        border-radius: 20px;
        font-size: 0.6em;
    } 
}
@media(min-width: 2000px) {
    canvas{
        width: 1200px;
    }
    .menuScore{
        width: 1100px;
    }
    .title{
        font-size: 5em;
    }
    .score{
        font-size: 2.4em;
    }
    dialog{
        padding: 130px;
        border-radius: 40px;
    }
    dialog h3{
        font-size: 3.3em;
    }
    .gameResult{
        font-size: 2em;
    }
    .btnReset{
        padding: 30px;
        width: 300px;
        border-radius: 40px;
        font-size: 1.7em;
    }
}
